{% extends "layout.html" %}
{% block content %}
<h2>Vista Previa del Préstamo</h2>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Detalles del Préstamo</h5>
        <p class="card-text">ID del Préstamo: {{ loan[0] }}</p>
        <p class="card-text">Fecha de Préstamo: {{ loan[3] }}</p>
        <p class="card-text">Fecha de Devolución: {{ loan[4] }}</p>
        <p class="card-text">Días de Préstamo: {{ loan[5] }}</p>
        <p><strong>Registrado por:</strong> {{ employee_name }}</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Detalles del Estudiante</h5>
        <p class="card-text">Nombre: {{ student[1] }} {{ student[2] }}</p>
        <p class="card-text">ID Estudiante: {{ student[3] }}</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Libros Prestados</h5>
        <ul class="list-group">
        {% for book in books %}
            <li class="list-group-item">
                {{ book.title }} - Cantidad: {{ book.quantity }} - Fecha de devolución: {{ book.return_date }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<a href="{{ url_for('list_loans') }}" class="btn btn-primary">Volver a la lista de préstamos</a>
{% endblock %}